.fldlst{
    width: 200px;
    height: 90%;
    background: rgb(117, 215, 241);
    float: left;
    left: 0;
    position: absolute;
    overflow: auto;
}

.ntelst {
    height: 90%;
    position: absolute;
    float: right;
    background: grey;
    right: 0;
    width: calc(100% - 200px);
    overflow: auto;
}

#one_button {
    margin: auto;
    top: 10px;
    width: 170px;
    height: 40px;
    display:block;
    margin-top: 10px;
    bottom: 0;
    
}
#d_butt_1{
    display: block;
    margin: auto;
    bottom: 10px;
    width: 170px;
    height: 40px;
    margin-top: 5px;
}
.button:active{
    transform: translateY(4px);
}

#folders{
    display: block;
    margin: auto;
    bottom: 10px;
    width: 170px;
    height: 40px;
    margin-top: 5px;
}
#two_button{
    float: center;
    margin: auto;
    bottom: 10px;
    width: 170px;
    height: 40px;
    margin-top: 5px;
    margin-left: 34.4%
}
#d_butt_2{
    margin: auto;
    bottom: 10px;
    width: 170px;
    height: 40px;
    margin-top: 5px;
    
}

.notes{
    width: 100%;
    margin: 4px;
}

#keyword{
    width: 45%;
    height: 100px;
    font-size: auto;

}
#definition{
    width: 45%;
    height: 100px;
    font-size: auto;

}

#submit_butt{
    float: right;
}
#radio_butt{
   float: right;
    
}

#userinfo{
    display: block;
    width: 300px;
    height: 300px;
}


